import(tcltk)
export("get.otu")
export("get.taxonomic")
export("makess")
export("infergui")
export("mlsolve")
export("view.te")
export("taxon.env")
export("load.revised.otu")
export("load.revised.species")
export("modalDialog")
export("formtomat")
export("tklist.modal")
export("in.ITIS")
export("correct.taxanames")
export("sel.coeffile")
export("output.tax.table")
export("get.valid.names")
export("get.taxon.names")
export("remove.dupes")
export("get.dupe.sel")
export("make.fulltab1")
export("locate.dupes")
export("make.species")
export("resolve.mult")
export("parse.taxon.name")
export("load.itis")
export("incorp.correct")

